/* Global font settings */
body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; /* Regular weight */
}

.language-selector-vertical {
  display: flex;
  flex-direction: column; /* Organizar en una columna */
  gap: 10px;
  position: fixed; /* Coloca las pestañas de idioma en el margen derecho */
  right: -2px; /* Ajusta esta distancia según tu diseño */
  top: 30px; /* Ajusta esta distancia según tu diseño */
  z-index: 100; /* Asegura que estén por encima del contenido */
}

.language-selector-vertical a {
  text-decoration: none;
  color: black; /* Color de texto similar a las pestañas de navegación */
  font-family: 'Roboto Mono', monospace; /* Aplicar la misma fuente */
  font-weight: 400;
  padding: 5px 15px; /* Añadir padding para ajustar la apariencia */
  letter-spacing: 0.05em;
  cursor: pointer; /* Añadir puntero de mano al pasar el ratón */
}

.language-selector-vertical a:hover {
  color: gray; /* Efecto hover igual al de las pestañas de navegación */
}

.language-selector-vertical .active {
  font-weight: bold; /* Resalta la pestaña activa */
}

/* Marco rojo semitransparente */
.red-border {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 40px solid rgba(255, 255, 255, 0.9); /* Borde rojo semitransparente */
  box-sizing: border-box;
  pointer-events: none; /* Permite la interacción con el contenido debajo */
  z-index: 10; /* Asegura que esté siempre encima del contenido */
}

/* Borde negro alrededor del contenido */
.black-border {
  position: fixed;
  top: 40px; /* Ajusta el borde negro dentro del marco rojo */
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid black; /* Borde negro */
  box-sizing: border-box;
  overflow-y: scroll; /* Habilitar scroll interno */
  scrollbar-width: none; /* Firefox: Ocultar barra de desplazamiento */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  z-index: 10; /* Asegura que el borde esté visible */
  pointer-events: none; /* Permite la interacción con los elementos debajo */
}

/* Ocultar la barra de desplazamiento en Webkit (Chrome, Safari, Opera) */
.black-border::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Navbar siempre visible */
.navbar {
  position: fixed;
  top: 10px;
  left: 25px;
  z-index: 100; /* Asegura que el navbar esté por encima del borde */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  transition: gap 0.3s ease
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  left: 40px;
  font-family: 'Roboto Mono', monospace; /* Roboto Mono applied */
  font-weight: 400;
  letter-spacing: 0.05em;
}

.navbar a:hover {
  color: gray;
}

/* Secciones de contenido que pasan debajo del marco rojo */
.section {
  height: auto;
  padding-bottom: 20px;
  padding-left: 80px; /* Desplaza el texto de las secciones hacia adentro */
  padding-right: 60px;
  padding-top: 70px;
  position: relative;
  z-index: 1; /* Asegura que el contenido pase debajo del borde rojo */
  box-sizing: border-box; /* Para que el padding no altere el tamaño */
  font-family: 'Montserrat', sans-serif; /* Change the font to Montserrat */
  font-weight: 300;
}

.section h1 {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif; /* Ensure Montserrat is applied */
  font-weight: 700; /* Use a specific weight like 700 for bold */
  font-size: 3rem; /* Adjust the size as needed */
  margin: 0;
}

.section h2 {
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif; /* Ensure Montserrat is applied */
  font-weight: 400; /* Use a specific weight like 700 for bold */
  font-size: 1.3rem; /* Adjust the size as needed */
  margin: 0;
}

.section h3 {
  position: absolute;  /* Positioning relative to the parent .section */
  bottom: 55px;        /* Position it 20px from the bottom */
  right: 80px;         /* Position it 20px from the right */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;    /* Make it lighter */
  font-size: 0.89rem;
  color: #000000;
  max-width: 300px;     /* Set the maximum width to 200px */
  word-wrap: break-word; /* Ensures long words are wrapped within the max-width */
  text-align: justify;
  line-height: 1.5;  
}
/* Estilos de copyright en la esquina inferior derecha, fijo */
.copyright {
  font-family: 'Roboto Mono', monospace; /* Ensure Roboto Mono is applied */
  font-weight: 400; /* Lighter weight for a modern look */
  font-size: 13px;
  position: fixed; /* Fijo en la esquina inferior derecha */
  right: 40px;
  bottom: 10px;
  color: black;
  z-index: 1000; /* Asegura que esté visible sobre el contenido */
}

#home {
  background-color: #ffffff;
}

#projects {
  background-color: #ffffff;
}

#data {
  background-color: #ffffff;
}

#contact {
  background-color: #ffffff;
}

/* Iconos de redes sociales */
.icon-container {
  position: fixed;
  right: 10px; /* Position outside the right border */
  bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.icon {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.icon:hover {
  color: gray;
}

.icon i.fa-github:hover {
  color: #333;
}

/* Scroll suave en toda la página */
html {
  scroll-behavior: smooth;
}

/* Home section */
#home {
  position: relative;
  height: 100vh;
  background-color: #ffffff; /* Keep the white background */
  overflow: hidden;
}

/* SVG container for the mesh */
.svg-mesh {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Line animations for the SVG paths */
.path {
  fill: none;
  stroke-width: 2;
  stroke: rgba(0, 0, 0, 0.6); /* Change color as needed */
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 8s ease-in-out forwards;
}

#contact {
  background-color: #fbfbfb; /* Keep the white background */
}

/* Apply Montserrat font globally */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Projects section */
#projects {
  background-color: #ffffff; /* Background color */
}

.projects-section {
  padding: 40px;
  background-color: #ffffff;
  
}

.project-container {
  margin-top: 20px;
  background-color: #f9f9f9; /* Fondo claro para la tarjeta completa */
  border-radius: 20px; /* Bordes redondeados */
  margin-bottom: 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transition: all 0.3s ease;
  pointer-events: none;

}
/* Wrapper for the card and the description */
.project-wrapper {
  display: flex;
  justify-content: flex-start; /* Align image and text horizontally */
  align-items: flex-start;
  margin-bottom: 5px;
  flex-wrap: wrap;
  pointer-events: none;

}

/* Project card styling */
.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
  overflow: visible;
  width: 30vw; /* Width is 30% of viewport width */
  max-width: 480px; /* Maximum width for larger screens */
  aspect-ratio: 3 / 2; /* Maintain a 3:2 aspect ratio (proportional) */
  margin-right: 40px;
  margin-top: 0px;
  position: relative; /* Necessary for positioning icons inside the card */
  transition: transform 0.3s ease, width 0.3s ease; /* Smooth width scaling */
  box-sizing: border-box;
  z-index: 0;
}

.project-card:hover {
  transform: perspective(1000px) rotateY(10deg);
}

/* Project image styling */
.project-image {
  width: 95%; /* Image takes full width of the card */
  height: auto; /* Automatically adjusts height based on width */
  object-fit: cover; /* Ensures the image covers the entire area */
  margin: 10px; /* Remove default margins */
  padding: 0; /* Remove default padding */
  display: block; /* Ensures no extra space around the image */
  vertical-align: top; /* Align image at the top */
}

/* Project link icons */
.project-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  position: absolute; /* Keep this to position at bottom-right */
  bottom: 15px;
  right: 15px;
  pointer-events: auto; /* Ensure it's clickable */
  z-index: 10; /* Set a high z-index to ensure it's above other elements */
}

.project-link {
  font-size: 1.3rem;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  pointer-events: auto; /* Asegura que los enlaces respondan a los clics */
  z-index: 10; /* Set a high z-index to ensure it's above other elements */
}

.project-link:hover {
  color: gray; /* Change color on hover */
}

/* Project description (title and text) */
.project-description {
  max-width: 600px;
  flex-grow: 1; /* Esto hace que la descripción ocupe todo el espacio disponible a la derecha */
  margin-top: 0; /* Eliminar el margen superior para alinear con la tarjeta */
  pointer-events: none;
}

.project-description h2 {
  margin: 0 0 5px 0;
  margin-top: 0px;
  font-size: 1.5rem;
  color: #000000;
  display: inline-block;
  vertical-align: top;
}

.project-description p {
  font-size: 0.89rem;
  color: #000000;
  margin-bottom: 15px;
}

.data-container {
  margin-top: 20px;
  background-color: #f1efe7; /* Fondo claro para la tarjeta completa */
  border-radius: 20px; /* Bordes redondeados */
  margin-bottom: 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transition: all 0.3s ease;
  pointer-events: none;
}
/* Ajuste del diseño en pantallas pequeñas */
@media (max-width: 768px) {

  .section h2 {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif; /* Ensure Montserrat is applied */
    font-weight: 400; /* Use a specific weight like 700 for bold */
    font-size: 1.1rem; /* Adjust the size as needed */
    margin: 0;
  }

  .section h3 {
    position: absolute;  /* Positioning relative to the parent .section */
    top: 345px;
    bottom: 55px;        /* Position it 20px from the bottom */
    right: 45px; 
    left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;    /* Make it lighter */
    font-size: 0.8rem;
    color: #000000;
    max-width: 300px;     /* Set the maximum width to 200px */
    word-wrap: break-word; /* Ensures long words are wrapped within the max-width */
    text-align: justify;
    line-height: 1.5;  
  }

  .navbar {
    position: fixed;
    top: 10px;
    left: 35px;
    z-index: 100; /* Asegura que el navbar esté por encima del borde */
  }

  .navbar ul {
    gap: 1px; /* Reducir la distancia entre pestañas en pantallas pequeñas */
  }

  .navbar a {
    text-decoration: none;
    color: black;
    padding: 5px 5px;
    left: 40px;
    font-family: 'Roboto Mono', monospace; /* Roboto Mono applied */
    font-weight: 400;
    letter-spacing: 0.025em;
  }

  .projects-section {
    padding: 20px;
    max-width: calc(100% - 30px); /* Ajustar padding para pantallas pequeñas */
  }

  .project-container {
    flex-direction: column; /* Apila el contenido verticalmente */
    align-items: center; /* Centra el contenido */
  }

  .data-container {
    flex-direction: column; /* Apila el contenido verticalmente */
    align-items: center; /* Centra el contenido */
  }
  .project-card {
    width: 80%; /* La tarjeta toma el ancho completo del contenedor */
    max-width: 290px; /* Ancho máximo para no exceder el viewport */
    margin-right: 33px;
    margin-left: 40px; /* Añade un margen izquierdo */
    right: 5px;
    margin-bottom: 10px;
    aspect-ratio: 16 / 9; /* Relación de aspecto ajustada */
    min-height: 200px; /* Establecer una altura mínima para que no sea demasiado pequeña */
    z-index: 5; /* Set lower than .project-links */
    pointer-events: auto; /* Allow pointer events on the project card */
  }

  .project-description {
    max-width: 100%; /* La descripción toma todo el ancho disponible */
    margin-top: 5px; /* Añadir margen superior para separar de la tarjeta */
  }

  .project-description h2 {
    margin: 0 0 5px 0;
    margin-top: 0px;
    font-size: 1.1rem;
    color: #000000;
    display: inline-block;
    vertical-align: top;
  }
  
  .project-description p {
    font-size: 0.8rem;
    color: #000000;
    margin-bottom: 15px;
  }

  .project-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-image {
    width: 100%; /* Image takes full width of the card */
    height: auto; /* Automatically adjusts height based on width */
    max-height: 160px;
    object-fit: cover; /* Ensures the image covers the entire area */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    display: block; /* Ensures no extra space around the image */
    vertical-align: top; /* Align image at the top */
  }

}
